pkgbase = pgadmin4-server
	pkgdesc = The core server package for pgAdmin. pgAdmin is the most popular and feature rich Open Source administration and development platform for PostgreSQL, the most advanced Open Source database in the world.
	pkgver = 9.4
	pkgrel = 1
	url = https://www.pgadmin.org/
	arch = x86_64
	license = PostgreSQL
	depends = postgresql-libs
	depends = krb5
	depends = python-dbus
	provides = pgadmin4-server
	source = pgadmin4-server-9.4-x86_64.deb::https://ftp.postgresql.org/pub/pgadmin/pgadmin4/apt/noble/dists/pgadmin4/main/binary-amd64/pgadmin4-server_9.4_amd64.deb
	sha256sums = 2e0c581e1a666e3877a235b16bef3dec91705e24f1116b946dea3d6325a2e6b3

pkgname = pgadmin4-server
