pkgbase = pgadmin4-server
	pkgdesc = The core server package for pgAdmin. pgAdmin is the most popular and feature rich Open Source administration and development platform for PostgreSQL, the most advanced Open Source database in the world.
	pkgver = 8.11
	pkgrel = 1
	url = https://www.pgadmin.org/
	arch = x86_64
	license = PostgreSQL
	depends = postgresql-libs
	depends = krb5
	depends = python-dbus
	provides = pgadmin4-server
	source = pgadmin4-server-8.11-x86_64.deb::https://ftp.postgresql.org/pub/pgadmin/pgadmin4/apt/noble/dists/pgadmin4/main/binary-amd64/pgadmin4-server_8.11_amd64.deb
	sha256sums = 1318b0f0a277b7944e50f1c54461df3c46aff265f75c4cabba646fda376751d9

pkgname = pgadmin4-server
