pkgbase = pgadmin4-server
	pkgdesc = The core server package for pgAdmin. pgAdmin is the most popular and feature rich Open Source administration and development platform for PostgreSQL, the most advanced Open Source database in the world.
	pkgver = 8.10
	pkgrel = 1
	url = https://www.pgadmin.org/
	arch = x86_64
	license = PostgreSQL
	depends = postgresql-libs
	depends = krb5
	depends = python-dbus
	provides = pgadmin4-server
	source = pgadmin4-server-8.10-x86_64.deb::https://ftp.postgresql.org/pub/pgadmin/pgadmin4/apt/noble/dists/pgadmin4/main/binary-amd64/pgadmin4-server_8.10_amd64.deb
	sha256sums = d3779c56635c11e7b3d3a9d7646e7cf40b6a7ea64a3cdea819277c3a2e67779d

pkgname = pgadmin4-server
